<div id="toBoardContainer" class="push-left">

	<button id="toBoard" class="ink-button blue large-25 push-left">Visit Your Boards</button>

</div>


<div id="toBinContainer" class="push-right">

	<button id="toBin" class="ink-button orange large-25 push-left">Check Out Your Bin</button>

</div>


<div id="toSettingsContainer">

	<button id="toSettings" class="ink-button blue large-25">Modify Your Settings</button>

</div>
