<div class="container">

  <div class="main-buttons">
  
    <button id="toBoard">Navigate To Your Boards</button>

    <button id="toSettings">Modify Your Settings</button>

    <button id="toBin">Check Out Your Bin</button>
  
  </div>

</div>
