<div class="container">

  <div class="main-buttons">
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  
    <button id="toBoard">Navigate To Your Boards</button>

    <button id="toSettings">Modify Your Settings</button>

    <button id="toBin">Check Out Your Bin</button>
  
  </div>

</div>
