<div class="container">

  <div class="main-buttons">
  
  <% var current_id = user['id']; %>
  <% var end_url = current_id + "/boards"; %>
    
    <button id="toBoard">Visit Your Boards</button>
  
    <button id="toSettings">Modify Your Settings</button>
    
    <button id="toBin">Check Out Your Bin</button>
  
  </div>

</div>


