
<div class="ink-grid">
  <nav class="ink-navigation hide-small">
    <ul class="menu horizontal flat rounded shadowed grey" id="home_menu">
      <div class="large-5" ></div>
        <li class="large-20"><a href="#tour">Website Tour</a></li>
        <li class="large-20"><a href="#about">About the Author</a></li>
        <li class="large-20">
          <a href="#contact">
            <i class="icon-envelope"></i> Contact
          </a>
        </li>  
      </ul>  
      <div class="large-20 push-left" id="home_left_side"> </div>
        
  </nav>
    <div class="column-group half-gutters" id="log_in_container">  
      <h1>Sign In</h1>
      <form class="ink-form" action="<%= session_url %>" method="post">
 
        <input
           name="authenticity_token"
           type="hidden"
           value="<%= form_authenticity_token %>">
  

        <label for="user_username">Username</label>
        <input
           id="user_username"
           name="user[username]"           
           type="text">
        <br>

        <label for="user_password">Password</label>
        <input
           id="user_password"
           name="user[password]"
           type="password">
        <br>

        <input type="submit" value="Log in">  
      </form>

      <h4> New User? Create an Account here: </h4>

      <form  class="ink-form" action="<%= users_url %>" method="post">
        <input
           name="authenticity_token"
           type="hidden"
           value="<%= form_authenticity_token %>">

        <label for="user_username">Username</label>
        <input
           id="user_username"
           name="user[username]"
           placeholder="JohnDoe123"
           type="text">
        <br>

        <label for="user_password">Password</label>
        <input
           id="user_password"
           name="user[password]"
           placeholder="aTerriblePassword"
           type="password">
        <br>

        <input type="submit" value="Create account">  
      </form>
    </div>
  </div>
  <div class="large-20 push-right" id="home_right_side"> </div>
  
</div>



