<div id="nav_container">
  <nav class="ink-navigation hide-small">
    <ul class="menu horizontal flat rounded shadowed grey" id="menu">
      <li><a href="#jeromey">Item</a></li>
      <i class="icon-adjust"></i>
      <li><a href="#boards">My Boards</a>
        <ul class="submenu">
      </li>
        
      </ul>
    </ul>
  </nav>
</div>

<div class="board_content">
  <div class="list">
  
  </div>
</div>

