<div id="myBoard">
  <%= user.username + "'s new board" %>
  <div class="ink-grid">
    <div class="column-group">
      <div class="large-33"><a id="toDo">To Do:</a></div>
      <div class="large-33"><a id="doing">Doing:</a></div>
      <div class="large-33"><a id="done">Done:</a></div>
    </div>
  </div>
</div>