<% var url = "/users/" + user.id + "/boards" %>
<%= console.log(url) %>
<form class="ink-form" id="newBoard" action=<%=url%> method="post">
  <label for="form_name">Form Name:</label>
  <input
  id="board_boardtitle"
  name"board[boardtitle]"
  type="text">
  <input id="createBoard" type="submit" value="Create Board">

</form>

