<div id="menuContainer">

<div id="content">
  <div>
    <h2 id="welcome">Logged in as <%= @user.username.capitalize %></h2>
  </div>
  <script type="application/json" id="user_boots">
    { "current_user": <%= {
                            :id => current_user.id, 
                            :user_name => current_user.username,  
                            :boards => current_user.boards
                          }.to_json.html_safe %> 
    }
  </script>
  
  <script type="application/json" id="user_board_boots">
    { "user_boards": <%= current_user.boards.to_json.html_safe %> }
  </script>
  
  <%= button_to "Logout", session_url, :method => :delete %>
  
  
</div>

<div id="lowerContent">
  
</div>

</div>

<script>
$(document).ready(function(){
  TrolleApp.initialize();
});
</script>