/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require ink
 *= require ink-min
 *= require font-awesome
 */

.ink-navigation ul.menu.rounded.horizontal li ul.submenu li {
border-top-right-radius: 0;
border-top-left-radius: 0;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
background-color: blanchedalmond;
cursor: -webkit-grab;
}

.main-buttons {
  padding-top: 45px;
  padding-left: 35px;
  height: 200px;
  width: 550px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
	background-color:#bddbfa;
	border:1px solid #84bbf3;
	color:#ffffff;
}

.board_holder{
  height: 200px;
  width: 550px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea) );
	background-color:#bddbfa;
}

#home_left_side{
  height: 1000px;
  position: relative;
  background-color: #000;
  z-index: 1;
}
#log_in_container{
  background-color: aliceblue;
  border-style: solid;
  border-color: ghostwhite;
  height: 600px;
  width: 800px;
  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 615px;
  z-index: 0;
}

