// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#board_content{
  background-color: grey;
  width: 1000px;
  height: 1000px;
}

.boards_all{
  width: 500px;
  height: 500px;
  background-color: blue;
}

#nav_container{
  width: 1000px;
  height: 50px;
}
