// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color:#EAEAEA;
}
#content{
  background-color: #B8B8B8;
}
#inTitle{
    text-align:left;
    color:yellow;
    font-family: cursive;
    font-size: 250%;
}

#navigator{
  color: black;
  background-color: black;
}
