// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#toBoard{
  font-family: -webkit-body;
  font-size: 20px;
  height: 20%;
  width: 30%;
}
#toBoard:hover{
  color:blue;
}

#toBoardContainer{
	width: 30%;
	height: 1000px;
	background-color: red;
	color: red;
}

#toSettingsContainer{
	width: 30%;
	height: 1000px;
	background-color: blue;
	color: blue;
	float: left;
}

#toBinContainer{
	width: 30%;
	height: 1000px;
	background-color: green;
	color: green;
	float:right;
}

#new_user{
  width: 500px;
  height: 500px;
  background-color: blue;
}

#toSettings{
  font-family: -webkit-body;
  font-size: 20px;
  height: 70%;
  width: 30%;
}

#toSettings:hover{
  color:blue;
}

#toBin{
  font-family: -webkit-body;
  font-size: 20px;
  height: 70%;
  width: 30%;
}



#userShowContainer{
  height: 90%;
  width: 100%;
	color: red;
	background-color: red;
}

#content{

	height: 100%;
	width: 100%;
  position: absolute;
}
